@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}
.background{
    min-height:100vh;
    display:flex;
    justify-content: center;
    position:relative;
 } 

.background::before {
    content:'';
    background-image: url('netflix.jpg');
    background-repeat: no-=repeat;
    background-size: cover;
    background-position: center;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0.2;
}
html {
    min-height: 100%;
    background: url(black.png) rgba(5, 5, 5, 0.3);
    background-size: cover;
    
  }

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button.blue {
    background-color: #ffffff;
    border: 10px;
    border: none;
    color: rgb(30, 27, 27);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    opacity: 0.6;
  }


.form {
  background-color: rgb(34, 33, 33);
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
  color:white;
}
h2{
    font-size:100px;
    font-family:sans-serif;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(154, 0, 0);
  }


.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: rgb(34, 30, 30);
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}



.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: rgb(240, 240, 240);
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  border: 2px solid purple;
}
html {
    min-height: 100%;
    background: url(black.png) rgba(5, 5, 5, 0.3);
    background-size: cover;
    
  }
